[DEFAULT]

# Retrieval URL is required
# (default)
#url = http://%(host)s/cgi-bin/ArchiveDataServer.cgi
# or for an Archiver Appliance
#url = http://%(host)s/mgmt/bpl/getApplianceInfo

# Configure server type
#urltype = classic
#urltype = appl

# Gives the default hostname used if no specific configuration is requested
#host=hostname:port

# Default pattern to determine which archives are operated on
#defaultarchs = */Current

# Default total number of samples.
#defaultcount = 0

# Maximum number of concurrent XMLRPC requests for data
#maxrequests = 10

# Maximum number of concurrent XMLRPC requests for meta-info
#maxquery = 30

[myarchiver]

# host, url, and defaultarchs can be specified in each subsection.
# A subsection is specified by
#  $ arget -C myarchiver ...

#urltype = appl
#host=http://hostname:17665/mgmt/bpl/getApplianceInfo
