Source: carchivetools
Section: python
Priority: optional
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~),
               python-all-dev,
               python-numpy,
               python-twisted-core, python-twisted-web,
XS-Python-Version: >= 2.6
Standards-Version: 3.8.0
Homepage: http://epics.nsls2.bnl.gov/debian
Vcs-Git: http://epics.nsls2.bnl.gov/git/carchive.git

Package: carchivetools
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends},
         python-numpy,
         python-twisted-core, python-twisted-web,
XB-Python-Version: ${python:Versions}
Description: CLI utilities for queries the Channel Archiver
 Tools to query and extract data from the EPICS
 Channel Archiver's XMLRPC data server.
