#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem=pybuild
binary: binary-arch binary-indep
binary-arch binary-indep: install
install: build

override_dh_auto_build:
	dh_auto_build
	pod2man --section=1 -c '' --release=0 arplothdf5.pod arplothdf5.1
	pod2man --section=1 -c '' --release=0 arget.pod arget.1

override_dh_auto_clean:
	dh_auto_clean
	rm -f arget.1 arplothdf5.1

override_dh_install:
	dh_install --fail-missing
	cp debian/carchivetools/etc/carchive.conf.example debian/carchivetools/etc/carchive.conf
	cp debian/channelarchiver-archmiddle/etc/archmiddle.conf debian/channelarchiver-archmiddle/etc/archmiddle.conf.example

override_dh_python2:
	dh_python2
	dh_numpy

override_dh_installinit:
	# this service isn't critical, don't abort install because it won't start
	dh_installinit --error-handler=true
